<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mabi_Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Mabi_Tools.Properties.Settings>
            <setting name="CityFilePath" serializeAs="String">
                <value>Resources/Cities.csv</value>
            </setting>
            <setting name="TimeFilePath" serializeAs="String">
                <value>Resources/Time.csv</value>
            </setting>
            <setting name="TransportFilePath" serializeAs="String">
                <value>Resources/Transport.csv</value>
            </setting>
        </Mabi_Tools.Properties.Settings>
    </userSettings>
</configuration>